<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="home.html">Quizzitatoes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home.html">Home</a>
        </li>

        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

            
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://ih1.redbubble.net/image.450886651.0130/poster,504x498,f8f8f8-pad,600x600,f8f8f8.u8.jpg">Cute Potato</a></li>
            <li><a class="dropdown-item" href="https://image.pngaaa.com/452/7500452-small.png">Batman potato</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://img.freepik.com/premium-vector/cute-potato-cartoon-character_318683-1.jpg?w=2000">More potatoes</a></li>
          </ul>
        </li>

        
        <li class="nav-item">
          <a class="nav-link disabled">Apples</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>